.header {
  padding: 2rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  background-color: #94e3ce;
}
// form how-much calculator
.calc-wrp {
  font-family: 'Poppins', sans-serif;
  margin: 2.5rem;
  &__container{
    width: 90vw;
    max-width: 62.25rem;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 65rem) {
      width: auto;
      max-width: 62.25rem;
    }
  }
  &__form-block-wrapper {
    margin-bottom: 6.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 4px 80px 0 rgb(0 0 0 / 10%);
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3.75rem;
    @media (max-width: 48rem) {
      padding: 2.5rem 0 0;
    }
  }
  &__line {
    width: 100%;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 48rem) {
      padding: 0 1.25rem;
    }
  }
  &__item {
    width: 22.8%;
    position: relative;
    @media (max-width: 61.9375rem) {
      width: 100%;
      position: relative;
      &.full-item {
        width: 100%;
      }
    }
    @media (max-width: 36rem) {
      &.full-item {
        margin-top: 1.25rem;
      }
    }
    .calculator-from__header {
      margin-bottom: 1.875rem;
    }
    .btn.btn--huge.btn--full-width {
      width: 100%;
    }
    .calculator-form__input {
      color: #333333;
    }
    // switchers
    .switcher-parent {
      display: flex;
      align-items: center;
      background: #eef2f4;
      border-radius: 2px;
      padding: 0.125rem;
      position: absolute;
      right: 0;
      top: -0.3125rem;
      .switcher-label {
        display: block;
        margin-bottom: 0;
        position: relative;
      }
      .radio-icon {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 0;
        color: #232323;
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 100%;
        background: transparent;
        transition: all 0.3s;
        border-radius: 2px;
        width: 1.5rem;
        height: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      input[type='radio'] {
        left: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;
        &:checked ~ .radio-icon {
          color: #ffffff;
          font-size: 0.75rem;
          line-height: 100%;
          background-color: #07becb;
          transition: all 0.3s;
        }
      }
      .radio-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__inner-line {
    display: flex;
    align-items: self-end;
    gap: 1.25rem;
    width: 100%;
    flex-wrap: wrap;
  }
  &__btn-calc{
    margin-top: 1.875rem;
    cursor: pointer;
    outline: none;
    position: relative;
    height: 3.5rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    transition: all 300ms ease;
  }
  &__header {
    color: #07becb;
    font-size: 1.125rem;
    line-height: 140%;
    margin-bottom: 1.5rem;
  }
  input {
    outline: none;
    &[type="submit"]{
      cursor: pointer;
    }
  }
  @media (max-width: 61.9375rem) {
    &__inner-line {
      flex-wrap: wrap;
    }
    input {
      width: 100%;
    }
  }
}
// form how-much calculator + webflow styles
.calculator-form {
  &__content-wrapper {
    padding: 1.25rem;
  }
  &__header {
    margin-bottom: 1.875rem;
  }
  &__tab-link:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #07becb;
    color: #fff;
  }
  &__inputs-line {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__result-wrapper {
    min-width: 8.125rem;
    text-align: center;
    margin-right: 5px;
    &.full-width{
      .total{
        width: 100%;
      }
    }
  }
  &__result-input {
    height: auto;
    width: auto;
    min-width: 8.125rem;
    padding: 0.75rem 1.625rem;
    background: #EEF2F4;
    &.full-width{
      width: 100%;
      min-width: 16.6rem
    }
  }
  &__result {
    min-width: 8.125rem;
    margin-right: 5px;
    text-align: center;
    &.total {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 100%;
      letter-spacing: -0.03125em;
      color: #07becb;
      position: relative;
      &::before {
        content: '$';
        margin-right: 0.3125em;
        left: 0;
      }
    }
  }
  &__content-top {
    padding: 1.25rem 2.5rem;
    align-items: center;
    &.result-block{
      margin-bottom: 20px;
      padding-bottom: 1.25rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
    @media (max-width: 36rem) {
      padding: 1.25rem 0.9375rem;
      margin-bottom: 0;
    }
  }
  &__tabs {
    background-color: #eef2f4;
    margin-top: 0;
    @media (max-width: 36rem) {
      overflow: hidden;
      width: 100%;
      margin-top: 0;
      border-radius: 0;
    }
  }
  &__tab-menu {
    @media (max-width: 36rem) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.625rem;
      padding: 1.25rem 1.25rem 0;
      border-bottom: none;
    }
  }
  &__tab-link {
    @media (max-width: 36rem) {
      width: 100%;
      height: auto;
      background-color: #fff;
      border-radius: 5px !important;
      padding: 1.125rem !important;
    }
  }
  &__list {
    width: 35.4%;
  }
  &__list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
    height: auto;
    border-bottom: none;
    margin: 0;
    @media (max-width: 36rem) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      &.result-item {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .name-result {
          margin-bottom: 0;
          margin-right: 0.9375rem;
        }
      }
      .name-result {
        margin-bottom: 0.9375rem;
      }
    }
    &:last-child {
      border: none;
    }
    .name-result {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 100%;
      letter-spacing: -0.03125em;
      color: rgba(92, 92, 92, 0.6);
      &.total {
        font-weight: 600;
        color: #232323;
      }
    }
    .result {
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 100%;
      letter-spacing: -0.03125em;
      color: #232323;
    }
  }
  &__text-result-wrapper {
    background: #ffffff;
    border-radius: 5px;
    padding: 2.5rem;
    .text {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 200%;
      letter-spacing: -0.03125em;
      color: #232323;
      p {
        margin-bottom: 1.25rem;
        &:last-child {
          margin-bottom: 0;
        }
        .marker {
          font-weight: 600;
          position: relative;
          &.percent {
            &::after {
              content: '%';
              margin-left: 0.125rem;
              right: 0;
            }
          }
          &.currency {
            &::before {
              content: '$';
              margin-right: 0.125rem;
              left: 0;
            }
          }
        }
      }
    }
  }

  @media (max-width: 36rem) {
    .w-tab-link {
      padding: 1.125rem 1.875rem;
    }
  }
}
// form how-much calculator end
